/************************************************************************/
/****** Setting for post                                           ******/
/************************************************************************/
/* @media (max-width: 767px) {
  div.card-post div.post {
    padding: .8em .2em!important;
  }
} */
/************************************************************************/
/****** Setting for new manager post                               ******/
/************************************************************************/
div.card div.card-form form {
  padding: 0 16px 16px 16px;
}
div.card div.card-form form input.title {
  width: calc(100% - 12px);
  padding: .4em 5px;
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: 1em;
  color: #333;
  background: rgba(255,255,255,1);
  font-family: Arial, sans-serif;
}
div.card div.card-form form textarea {
  width: calc(100% - 12px);
  height: 10em;
  padding: 5px;
  margin: .2em 0 0 0;
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: .9em;
  color: #333;
  background: rgba(255,255,255,1);
}
div.card div.card-form form select {
  width: 100%;
  padding: 5px;
  margin: .2em 0 0 0;
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: .9em;
  color: #333;
  background: rgba(255,255,255,1);
}
div.card div.card-form form button.send-button {
  width: 100%;
  padding: 10px;
  margin: 1em 0 0 0;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  background: lightgray;
  cursor: pointer;
  transition: all ease-in-out .2s;
}
div.card div.card-form form button.send-button:hover,
div.card div.card-form form button.send-button.ontap {
    background: rgba(182,0,5,1);
    color: #fff;
    transition: all ease-in-out 0s;
}
@media (max-width: 767px) {
  div.card div.card-form form {
    padding: 0 12px 12px 12px;
  }
}
/************************************************************************/
/****** Setting for post adding style                              ******/
/************************************************************************/
article.card div.card-post div.post.no-display div.post-title {
  background: rgba(220,220,220,1)!important;
}
article.card div.card-post div.post div.post-title span:first-child {
  cursor: pointer!important;
}
article.card div.card-post div.post div.post-title span:nth-child(2) {
  padding: 0!important;
}
article.card div.card-post div.post div.post-title span:last-child {
  cursor: default!important;
}
article.card div.card-post div.post.no-display div.post-text {
  color: #ccc!important;
}
article.card div.card-post div.post.no-display div.attachment a {
  color: #ccc!important;
}
article.card div.card-post div.post.no-display div.attachment a span:last-child {
  background: rgba(220,220,220,1)!important;
}
/************************************************************************/
/****** Setting for edit form                                      ******/
/************************************************************************/
div.card-post div.post div.post-edit {
  display: none;
  padding: 16px;
}
div.card-post div.post div.post-edit input.title {
  width: calc(100% - 12px);
  padding: .4em 5px;
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: 1em;
  color: #333;
  background: rgba(250,250,250,1);
  font-family: Arial, sans-serif;
}
div.card-post div.post div.post-edit textarea {
  width: calc(100% - 12px);
  padding: 5px;
  margin: .2em 0 0 0;
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: .9em;
  color: #333;
  background: rgba(250,250,250,1);
}
div.card-post div.post div.post-edit div.attachment {
  margin-top: .2em;
}
div.attachment div.attachment-file {
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: .8em;
}
div.attachment div.attachment-file:first-child {
  border-radius: 2px 2px 0 0;
}
div.attachment div.attachment-file:not(:first-child) {
  border-top: 0;
}
div.attachment div.attachment-file:last-child {
  border-radius: 0 0 2px 2px;
}
div.attachment div.attachment-file:hover {
  background: #f0f0f0;
}
div.card-post div.post div.post-edit a.attachment {
  /* display: block; */
}
div.card-post div.post div.post-edit label.attachment {
  display: block;
  padding: 8px 16px;
}
div.card-post div.post div.post-edit select {
  width: 100%;
  padding: 5px;
  margin: .2em 0 0 0;
  border: 1px solid rgba(204,204,204,1);
  border-radius: 2px;
  font-size: .9em;
  color: #333;
  background: rgba(250,250,250,1);
}
div.card-post div.post div.post-edit button.send-button {
  width: 100%;
  padding: 10px;
  margin: 1em 0 0 0;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  background: lightgray;
  cursor: pointer;
  transition: all ease-in-out .2s;
}
div.card-post div.post div.post-edit button.send-button:hover,
div.card-post div.post div.post-edit button.send-button.ontap {
    background: rgba(182,0,5,1);
    color: #fff;
    transition: all ease-in-out 0s;
}
div.card-post div.post div.post-edit label.checkbox {
  display: block;
  margin: 1.5em 0 0 0;
}
div.card-post div.post div.post-edit input[checkbox]:checked {
  background: red;
}
@media (max-width: 767px) {
  div.card-post div.post div.post-edit {
    padding: 12px;
  }
  div.card-post div.post div.post-edit label.attachment {
    padding: 6px 12px;
  }
}
