.introduction {
  // 標準
}

.location {

  .contents {

    #map {
      position: relative;
      margin: 24px 0 0 0;
      height: 300px;
      border-radius: 10px;

      .info {
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-size: 16px;

        a {
          text-decoration: none;
          color: #333;
          font-size: 14px;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    @media (max-width: 767px) {
      #map {
        height: 150px;
      }
    }

    // .access {
    //   .access-title {
    //     margin: 12px 0 0 0;
    //     padding: 6px 0;
    //     text-align: center;
    //     background: #eee;
    //   }
        
    //   ul.access-list {
    //     display: flex;

    //     @media (max-width: 767px) {
    //       & {
    //         flex-direction: column;
    //       }
    //     }

    //     li {
    //       flex: 1;
    //     }
        
    //     .route-title {
    //       margin: 0 0 16px;
    //       padding: 16px 0;
    //     }
    //     .route {
    //       margin: 0 0 3rem;
    //       padding: 0 0 0 4rem;
    //       position: relative;

    //       &::before {
    //         background: #ccc;
    //         content: "";
    //         margin: auto;
    //         width: 6px;
    //         height: 80%;
    //         position: absolute;
    //         left: 14px;
    //         top: 0;
    //         bottom: 0;
    //       }
    //       & li {
    //         padding: 16px 0;
    //         position: relative;

    //         &:not(:last-child) {
    //           border-bottom: .55px solid #ddd;
    //         }
    //         &.circle::before {
    //           background: url(../image/svg/circle_route.svg) no-repeat 0 0;
    //           background-size: contain;
    //           content: "";
    //           width: 32px;
    //           height: 32px;
    //           position: absolute;
    //           left: -64px;
    //         }
    //         &.goal::before {
    //           background-image: url(../image/svg/circle_goal.svg);
    //         }
    //       }
    //     }
    //   }
    // }        
  }
}
