body {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

::selection {
  background: rgba(182,0,5,.2);
  color: #ffffff;
}
::-moz-selection {
	background: rgba(182,0,5,.2);
	color: #ffffff;
}

footer {
  position: relative;
  width: 100%;
  background: #eee;
  z-index: 2;

  & > div {
    max-width: 1200px;
    padding: 48px 24px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      & {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    a {
      text-decoration: none;
      color: #333;

      &:hover {
        color: #666;
        text-decoration: underline;
      }
    }

    .author {
      margin-top: 12px;

      h2 {
        font-weight: normal;
        font-size: 16px;
        color: #333;
      }

      small {
        font-size: 12px;
        color: #666;
      }
    }

    .link {
      margin-top: 12px;
    }
  }
}