header#home {
  width: 100%;
  height: 100vh;
  z-index: 1;

  section#background {
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 0;

    div#first-background {
      animation-name: first;
      animation-duration: 30s;
      animation-delay: 0;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background: url('../image/photo/001.jpg') no-repeat 50% 50%;
    }
    div#second-background {
      animation-name: second;
      animation-duration: 30s;
      animation-delay: 0;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background: url('../image/photo/002.jpg') no-repeat 50% 50%;
    }
    div#first-background, div#second-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-size: cover;
      opacity: 0;

      &.not-ios {
        background-attachment: fixed;
      }

      @-webkit-keyframes first {
        0% {opacity: 1;}
        40% {opacity: 1;}
        50% {opacity: 0;}
        90% {opacity: 0;}
        100% {opacity: 1;}
      }
      @keyframes first {
        0% {opacity: 1;}
        40% {opacity: 1;}
        50% {opacity: 0;}
        90% {opacity: 0;}
        100% {opacity: 1;}
      }
      @-webkit-keyframes second {
        0% {opacity: 0;}
        40% {opacity: 0;}
        50% {opacity: 1;}
        90% {opacity: 1;}
        100% {opacity: 0;}
      }
      @keyframes second {
        0% {opacity: 0;}
        40% {opacity: 0;}
        50% {opacity: 1;}
        90% {opacity: 1;}
        100% {opacity: 0;}
      }
    }
    div.filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.4);
    }
  }

  section#main-logo {
    z-index: 2;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;

    main {
      flex-grow: 2;
      padding: 24px;

      @media (max-width: 767px) {
        & {
          padding: 24px 24px 96px;
        }
      }

      svg#svg-logo {
        width: 80%;
        max-width: 450px;
        fill: #fff;

        path {
          fill-opacity: 0;
          stroke: #fff;
          stroke-opacity: 0;
          stroke-width: .2px;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 60;
          stroke-dashoffset: 100;

          animation-name: draw;
          animation-duration: 5s;
          animation-delay: .5s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-timing-function: linear;

          @-webkit-keyframes draw {
            30% {
              stroke-opacity: 1;
            }
            60% {
              stroke-dashoffset: 0;
              stroke-width: .2px;
              stroke-opacity: 1;
              fill-opacity: 0;
            }
            80% {
              stroke-dashoffset: 0;
            }
            100% {
              stroke-width: 0;
              fill-opacity: 1;
            }
          }
          @keyframes draw {
            30% {
              stroke-width: .2px;
              stroke-opacity: 1;
            }
            60% {
              stroke-opacity: 1;
              fill-opacity: 0;
            }
            80% {
              stroke-dashoffset: 0;
            }
            100% {
              stroke-opacity: 0;
              stroke-width: 0;
              fill-opacity: 1;
            }
          }
        }
      }

      // & > div {
      //   display: block;
      //   margin: 3em auto 0;
      //   text-align: center;

      //   & a {
      //     position: relative;
      //     display: inline-block;
      //     font-weight: normal;
      //     text-decoration: none;
      //     background: rgba(182,0,5,0.6);
      //     color: #ffffff!important;
      //     padding: 1.2em 2em;
      //     border: 1px solid rgba(255,29,35,1);
      //     border-radius: 24px;
      //     transition: all ease-in-out .2s;
      //     font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      //     opacity: 1;
      //   }
      //   & a:hover {
      //     background: #ff1d23;
      //     background: rgba(255,29,35,.8);
      //     text-decoration: none;
      //   }
      //   @media (max-width: 767px) {
      //     & a {
      //       font-size: 0.7em;
      //     }
      //   }
      // }
    }
  }

  section.quote {
    z-index: 2;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    & > q {
      display: block;
      padding: 24px;
      box-sizing: border-box;
      // text-align: right;
      font-size: 24px;
      color: rgba(255,255,255,.6);
      font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;

      @media (max-width: 767px) {
        & {
          font-size: 14px;
        }
      }

      span {
        letter-spacing: 2px;
        opacity: 0;
        animation-name: fade-in;
        animation-duration: 2s;
        animation-delay: 6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        &.dash {
          letter-spacing: 0px;
        }

        @for $i from 1 through 18 {
          &:nth-child(#{$i}) {
            animation-delay: #{5.9 + ($i / 10.0)}s;
          }
        }

        @-webkit-keyframes fade-in {
          0% {opacity: 0;}
          100% {opacity:1;}
        }
        @keyframes fade-in {
          0% {opacity: 0;}
          100% {opacity:1;}
        }
      }
    }
  }

  .scroll-guide {
    z-index: 2;

    // position: absolute;
    position: -webkit-sticky;
    position: sticky;
    top: 100%;
    display: block;
    margin: auto;
    text-align: center;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    &::before {
      content: '';
      position: absolute;
      top: -60px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;
      -webkit-animation: scroll_move_down 2s ease-in-out infinite;
      -moz-animation:    scroll_move_down 2s ease-in-out infinite;
      animation:         scroll_move_down 2s ease-in-out infinite;
    }

    @media screen and (orientation: landscape) {
      & {
        bottom: 20px;
      }
    }

    /* animated scroll arrow animation */
    @-webkit-keyframes scroll_move_down {
      0%   { -webkit-transform:translate(0,-20px) rotate(-45deg); opacity: 0; }
      50%  { -webkit-transform:rotate(-45deg); opacity: 1; }
      100% { -webkit-transform:translate(0,20px) rotate(-45deg); opacity: 0; }
    }
    @-moz-keyframes scroll_move_down {
      0%   { -moz-transform:translate(0,-20px) rotate(-45deg); opacity: 0; }
      50%  { -webkit-transform:rotate(-45deg); opacity: 1; }
      100% { -moz-transform:translate(0,20px) rotate(-45deg); opacity: 0; }
    }
    @keyframes scroll_move_down {
      0%   { transform:translate(0,-20px) rotate(-45deg); opacity: 0; }
      50%  { -webkit-transform:rotate(-45deg); opacity: 1; }
      100% { transform:translate(0,20px) rotate(-45deg); opacity: 0; }
    }
  }
}

.home-block {

  // position: -webkit-sticky;
  // position: sticky;
  // top: 0;

  &.full {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .contents {
    z-index: 1;

    .text {
      font-size: 16px;
      line-height: 2;

      p {
        text-indent: 1em;
      }
    }
  }
}

a.button {
  display: inline-block;
  padding: 6px 36px;
  border-width: .55px;
  border-style: solid;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: all ease-in-out .1s;
}

.introduction {
  // position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background: #fff;

  .background.map {
    overflow: hidden;
    opacity: .6;

    svg.japan-map {
      // filter: blur(2px);
      position: absolute;
      top: 0;
      left: 0;
      width: 140%;
      fill: rgba(255,255,255,.8);
      stroke-width: .1px;
      stroke: #ccc;

      @media (max-width: 767px) {
        & {
          width: 240%;
        }
      }

      path {
        opacity: .8;
        fill: none;
      }

      polygon {
        opacity: .8;
      }

      path#niigata {
        stroke: #ccc;
        // fill: rgba(255,255,255,.6);
        // fill: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        fill: #efefef;
      }

      g#svg-horn {
        transform: translate(368px, 353px) scale(.5);
        path {
          stroke: none;
          // fill: #b60005;
          fill: #fff;
        }
      }
    }
  }

  .contents {
    width: 100%;
    max-width: 800px;

    @media (max-width: 767px) {
      & {
        width: 100%;
      }
    }

    & > div {
      padding: 0 24px;
      box-sizing: border-box;

      @media (max-width: 767px) {
        & {
          padding: 0 24px;
        }
      }

      h2.location {
        margin-bottom: 24px;
        font-size: 2.4rem;

        &::before {
          content: attr(data-subttl)'';
          display: block;
          font-size: 1.2rem;
          color: #666;
        }
      }

      p {
        color: #333;
      }

      a.button {
        margin-top: 24px;
        border-color: #666;
        color: #333;
        background: #fff;
        &:hover {
          background: rgba(0,0,0,.1);
        }
      }
    }
  }
}

.concert {
  padding: 48px 0;
  border: none;
  background: #fcf9ec;
  
  h2.title-large {
    font-size: 2.4rem;

    &::before {
      font-size: 1.2rem;
    }
  }
}

.concert-introduction {
  z-index: 2;
  background: #fff;

  .contents {
    width: 100%;

    div.concert-box {
      display: flex;
      align-items: stretch;
      font-size: 14px;
      color: #ccc;

      @media (max-width: 767px) {
        & {
          flex-direction: column;
        }
      }

      & > div {
        flex: 1;

        &.main-concert {
          background-clip: content-box;
          background-color: rgba(0,0,0,.6);
          background-position: 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('../image/photo/autumn3.jpg');
        }

        &.mini-concert {
          background-clip: content-box;
          background-color: rgba(0,0,0,.6);
          background-position: 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('../image/photo/spring3.jpg');
        }

        .content {
          max-width: 500px;
          margin: 0 auto;

          h3.title {
            margin: 96px 24px 24px;
            // margin-bottom: 24px;
            font-size: 2.4rem;

            &::before {
              content: attr(data-subttl)'';
              display: block;
              font-size: 1.2rem;
              color: #ccc;
            }
          }

          .text {
            margin: 0 24px 24px;
            // padding-bottom: 300px;
          }

          ul {
            margin: 0 24px 96px;

            li {
              a {
                position: relative;
                display: block;
                padding: 6px 12px;
                border: .55px solid #fff;
                text-decoration: none;
                color: #fff;
                background: rgba(255,255,255,.1);
                transition: all .1s ease-out;

                &:hover {
                  background: rgba(255,255,255,.2);
                }

                div.concert-detail {
                  display: flex;
                  justify-content: space-between;
                  align-items: stretch;

                  p {
                    font-size: 13px;
                  }

                  h3 {
                    font-size: 16px;
                  }

                  .link-arrow {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }

                div.concert-close {
                  display: none;
                }

                div.concert-prepare {
                  display: none;
                }

                &.prepare {
                  // border: .55px solid rgba(255,255,255,.6);
                  // color: rgba(255,255,255,.6);

                  &:hover {
                    background: rgba(255,255,255,.1);

                    div.concert-prepare {
                      position: absolute;
                      top: -.55;
                      left: -.55;
                      width: 100%;
                      height: 100%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 18px;
                      color: #fff;
                      border: .55px solid rgba(255,255,255,.2);
                      background: rgba(0,0,0,.6);
                    }
                  }
                }

                &.close {
                  border: .55px solid rgba(255,255,255,.6);
                  color: rgba(255,255,255,.6);

                  &:hover {
                    background: rgba(255,255,255,.1);
                  }

                  div.concert-close {
                    position: absolute;
                    top: -.55;
                    left: -.55;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    color: #fff;
                    border: .55px solid rgba(255,255,255,.2);
                    background: rgba(0,0,0,.6);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.schedule {
  padding: 48px 0;
  border: none;
  background: rgb(239,234,227);

  h2.title-large {
    font-size: 2.4rem;

    &::before {
      font-size: 1.2rem;
    }
  }
  
  .contents {

    .schedule-next {
      display: block;
      margin: 24px 0;
      background: #fff;
      border: .55px solid #eee;
      position: relative;
      padding: 24px;
      max-width: 350px;

      .todayflag {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 10px;
        margin: 0;
        padding: 2 0 0;
        z-index: 2;
        width: 40px;
        text-align: center;
        color: white;
        font-size: 13px;
        background: #b60005;
        
        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 100%;
          height: 0;
          width: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 5px solid #b60005;
        }
      }

      .frame {
        display: block;
        font-size: 16px;

        .month-date {
          margin-right: 8px;

          .text {
            font-size: .9em;
            margin-right: 2px;
          }

          .day {
            margin: 0 4px;
            padding: 4px 8px;
            border-radius: 8px;
            background: #eee;

            &.saturday {
              color: #fff;
              background: rgba(0,103,192,.6);
            }
            &.sunday {
              color: #fff;
              background: rgba(237,26,61,.6);
            }
          }
        }

        .time {
        }

        .place {
          color: #666;
          display: block;
          font-size: 13px;
        }
        .studio {
          font-size: 24px;

          span {
            margin: 0 4px;
          }
        }
      }
    }


  }
}

.contact {
  padding: 48px 0;
  border: none;
  background: #fff;
  
  h2.title-large {
    font-size: 2.4rem;

    &::before {
      font-size: 1.2rem;
    }
  }

  .contents {
      
    form {
      margin-top: 24px;

      label {
        display: block;
        margin-top: 12px;
        font-size: 16px;

        span {
          display: block;
        }
      }

      // Forms
      input[type="text"],
      input[type="address"],
      textarea {
        -webkit-appearance: none;
      }

      input[type="text"],
      input[type="address"] {
        -webkit-appearance: none;
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 8px 10px;
        border: .55px solid #666;
        border-radius: .25rem;
        color: #333;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
          border: .55px solid rgba(204,148,37,1);
          box-shadow: 0 0 0 0.2rem rgba(204,148,37,.25);
          outline: 0;
        }

        &:active {
          border: .55px solid rgba(204,148,37,1);
        }
      }

      textarea {
        -webkit-appearance: none;
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        margin: 0 auto;
        padding: 8px 10px;
        border: .55px solid #666;
        border-radius: .25rem;
        color: #333;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
          border: .55px solid rgba(204,148,37,1);
          box-shadow: 0 0 0 0.2rem rgba(204,148,37,.25);
          outline: 0;
        }
        
        &:active {
          border: .55px solid rgba(204,148,37,1);
        }
      }

      button {
        display: inline-block;
        margin-top: 24px;
        padding: 6px 36px;
        border: .55px solid #666;
        background: #fff;
        color: #333;
        font-size: 16px;
        letter-spacing: 2px;
        cursor: pointer;
        outline: none;
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        transition: all ease-in-out .1s;

        &:hover {
          background: rgba(0,0,0,.1);
        }

        &:disabled {
          border: .55px solid #ccc;
          color: #ccc;
          background: #f8f8f8;
          cursor: default;
        }
      }
    }
  }
}