
#loading {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  animation-name: fade-in;
  animation-duration: .2s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;

  .loading {
    padding: 28px 0;
    margin: 0 auto;
    width: 60px;
    display: flex;
    justify-content: space-between;

    & > div {
      width: 16px;
      height: 16px;
      background-color: #ccc;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;

      &.loading1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }

      &.loading2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
    }
  }

  &.hide {
    animation-name: fade-out;
    animation-duration: .2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }

  &.none {
    display: none;
  }

  @-webkit-keyframes fade-out {
    0% {opacity: 1;}
    100% {
      opacity: 0;
      display: none;
    }
  }
  @keyframes fade-out {
    0% {opacity: 1;}
    100% {
      opacity: 0;
      display: none;
    }
  }
}

.top-background {
  overflow: hidden;
  position: relative;

  video {
    position: absolute;
    background: #000;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.6);
    // Premium Black
    // background-image: linear-gradient(to right, #434343 0%, black 100%);
    // 100
    // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    // opacity: .8;
  }

  .contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .main-logo {

      @media screen and (min-width: 768px) {
        svg#svg-logo {
          width: 75vw;
          max-width: 1200px;
          fill: url(#gradient);
        }
        svg#svg-logo-mobile {
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
        svg#svg-logo-mobile {
          width: 80vw;
          max-height: 40vh;
          path {
            fill: url(#gradient2);
          }
        }
        svg#svg-logo {
          display: none;
        }
      }

      svg {
        path {
          fill-opacity: 0;
          stroke: #fff;
          stroke-opacity: 0;
          stroke-width: .2px;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 60;
          stroke-dashoffset: 100;

          animation-name: draw;
          animation-duration: 5s;
          animation-delay: .5s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-timing-function: linear;

          @-webkit-keyframes draw {
            30% {
              stroke-opacity: 1;
            }
            60% {
              stroke-dashoffset: 0;
              stroke-width: .2px;
              stroke-opacity: 1;
              fill-opacity: 0;
            }
            80% {
              stroke-dashoffset: 0;
            }
            100% {
              stroke-width: 0;
              fill-opacity: 1;
            }
          }
          @keyframes draw {
            30% {
              stroke-width: .2px;
              stroke-opacity: 1;
            }
            60% {
              stroke-opacity: 1;
              fill-opacity: 0;
            }
            80% {
              stroke-dashoffset: 0;
            }
            100% {
              stroke-opacity: 0;
              stroke-width: 0;
              fill-opacity: 1;
            }
          }
        }
      }

      q {
        display: block;
        margin-top: 6px;
        text-align: right;
        font-size: 1.2em;
        color: rgba(255,255,255,.8);
        // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        // font-family: a-otf-futo-min-a101-pr6n, serif;
        // font-weight: 400;
        // font-style: normal;

        font-family: a-otf-ryumin-pr6n, serif;
        font-weight: 300;
        font-style: normal;

        .dash {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          letter-spacing: 0px;
        }

        @media (max-width: 767px) {
          & {
            font-size: 0.7em;
          }
        }

        span {
          /* animation: fade-in 2s ease-out infinite;
          animation-delay: 6.0s; */
          opacity: 0;
          animation-name: fade-in;
          animation-duration: 2s;
          animation-delay: 6s;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;

          @for $i from 1 through 18 {
            &:nth-child(#{$i}) {
              animation-delay: #{5.9 + ($i / 10.0)}s;
            }
          }
        }

        @-webkit-keyframes fade-in {
          0% {opacity: 0;}
          100% {opacity:1;}
        }
        @keyframes fade-in {
          0% {opacity: 0;}
          100% {opacity:1;}
        }
      }

      .direct-link {
        display: block;
        margin: 48px auto 0;
        text-align: center;

        opacity: 0;
        animation-name: fade-in;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        a {
          position: relative;
          display: inline-block;
          font-weight: normal;
          text-decoration: none;
          background: rgba(182,0,5,0.6);
          color: #ffffff!important;
          padding: 1.2em 2em;
          border: 1px solid rgba(255,29,35,1);
          border-radius: 24px;
          // transition: all ease-in-out .2s;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          opacity: 1;

          &:hover {
            background: #ff1d23;
            background: rgba(255,29,35,.8);
            text-decoration: none;
          }

          @media (max-width: 767px) {
            & {
              font-size: 0.7em;
            }
          }
        }
      }
    }

    & > span {
      position: absolute;
      top: auto;
      left: 0;
      right: 0;
      bottom: 40px;
      display: block;
      margin: auto;
      text-align: center;

      opacity: 0;
      animation-name: fade-in;
      animation-duration: 1s;
      animation-delay: 6s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;

      a {
        color: #fff;
        font-size: 1.2em;
        letter-spacing: .1em;
        text-decoration: none;
        font-family: josefin-sans, sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      &::before {
        content: '';
        position: absolute;
        top: -60px;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
        -webkit-animation: scroll_move_down 2s ease-in-out infinite;
        -moz-animation:    scroll_move_down 2s ease-in-out infinite;
        animation:         scroll_move_down 2s ease-in-out infinite;
      }

      /* animated scroll arrow animation */
      @-webkit-keyframes scroll_move_down {
        0%   { -webkit-transform:translate(0,-20px) rotate(-45deg); opacity: 0; }
        50%  { -webkit-transform:rotate(-45deg); opacity: 1; }
        100% { -webkit-transform:translate(0,20px) rotate(-45deg); opacity: 0; }
      }
      @-moz-keyframes scroll_move_down {
        0%   { -moz-transform:translate(0,-20px) rotate(-45deg); opacity: 0; }
        50%  { -webkit-transform:rotate(-45deg); opacity: 1; }
        100% { -moz-transform:translate(0,20px) rotate(-45deg); opacity: 0; }
      }
      @keyframes scroll_move_down {
        0%   { transform:translate(0,-20px) rotate(-45deg); opacity: 0; }
        50%  { -webkit-transform:rotate(-45deg); opacity: 1; }
        100% { transform:translate(0,20px) rotate(-45deg); opacity: 0; }
      }
      // @media screen and (orientation: landscape) {
      //   & {
      //     bottom: 20px;
      //   }
      // }
    }
  }
}

.block {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  .contents {
    z-index: 1;
  }
}

a.button {
  display: inline-block;

  text-decoration: none;
  border: 2px solid #fff;
  background: rgba(255,255,255,0);
  color: #fff;
  transition: all ease-in-out .1s;

  &:hover {
    background: #fff;
    color: #333;
  }
}

.introduction {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

  .background.map {
    overflow: hidden;

    svg.japan-map {
      // filter: blur(2px);
      position: absolute;
      top: 0;
      left: 0;
      width: 140%;
      fill: rgba(255,255,255,.8);
      stroke-width: .1px;
      stroke: #666;

      @media (max-width: 767px) {
        & {
          width: 240%;
        }
      }

      path {
        opacity: .8;
        fill: none;
      }

      polygon {
        opacity: .8;
      }

      path#niigata {
        stroke: #333;
        fill: #fff;
      }

      rect#lyric-hall {
        fill: #fda085;
        stroke: none;
        filter: drop-shadow(0 0 10px rgba(0,0,0,.2));
      }

      g#svg-horn {
        transform: translate(368px, 353px) scale(.5);
        path {
          stroke: none;
          fill: #b60005;
        }
      }
    }
  }

  .contents {
    h2.location {
      margin-bottom: 24px;
      font-size: 2.4rem;

      &::before {
        content: attr(data-subttl)'';
        display: block;
        font-size: 1.2rem;
        color: #666;
      }
    }
    p {
      color: #333;
    }
    a {
      margin-top: 24px;
      padding: 6px 24px;
      font-size: 16px;
    }
  }
}

.concert {
  background: #333;
  align-items: flex-start;

  .background.photo {
    overflow: hidden;

    img {
      // filter: blur(2px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      // background: rgba(0,0,0,.6);
      // 102 Happy Memories
      background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
      opacity: .2;
    }
  }

  .contents {
    width: 100%;
    color: #fff;

    & > div {
      max-width: 800px;
      padding: 48px 24px;
      box-sizing: border-box;
      margin: 0 auto;
      font-size: 14px;
  
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & > .title {
        margin-right: 48px;

        h2.title {
          margin-bottom: 24px;
          font-size: 2.4rem;
    
          &::before {
            content: attr(data-subttl)'';
            display: block;
            font-size: 1.2rem;
            color: #ccc;
          }
        }
      }

      & > .list {
        .each-concert {
          margin: 12px 0 0 0;

          a {
            // padding: 6px 12px;
            font-size: 16px;
            text-decoration: none;
            color: #fff;

            display: flex;
            justify-content: space-between;
            align-items: stretch;// default

            div:first-child {
              flex-grow: 1;
              padding: 6px 0 6px 12px;
              background: rgba(255,255,255,.2);
            }

            div:last-child {
              padding: 6px 12px;
              background: rgba(255,255,255,.4);

              display: flex;
              justify-content: center;
              align-items: center;
            }

            &:hover {
              div:first-child {
                background: rgba(255,255,255,.4);
              }
  
              div:last-child {
                background: rgba(255,255,255,.4);
              }
            }
          }
        }
      }
    }
  }
}

.schedule {
  background: #ccc;

  .background {

    img {
      // filter: blur(2px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      // background: rgba(0,0,0,.6);
      background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
      opacity: .2;
    }
  }

  .contents {
    color: #333;

    h2.title {
      margin-bottom: 24px;
      font-size: 2.4rem;

      &::before {
        content: attr(data-subttl)'';
        display: block;
        font-size: 1.2rem;
        color: #666;
      }
    }
    a {
      margin-top: 24px;
      padding: 6px 24px;
      font-size: 16px;
    }
  }
}


footer {
  width: 100%;
  background: #eee;

  & > div {
    max-width: 1200px;
    padding: 48px 24px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      & {
        flex-direction: column;
        align-items: flex-start;
      }
    }
     
    a {
      text-decoration: none;
      color: #333;

      &:hover {
        color: #666;
        text-decoration: underline;
      }
    }
 
    .author {
      margin-top: 12px;

      h2 {
        font-weight: normal;
        font-size: 16px;
        color: #333;
      }
  
      small {
        font-size: 12px;
        color: #666;
      }
    }

    .link {
      margin-top: 12px;
    }
  }
}