/************************************************************************/
/****** Setting for nav adding                                     ******/
/************************************************************************/
/* archive.css にて設定 */

/************************************************************************/
/****** Setting for audio area                                     ******/
/************************************************************************/
article.card div.card-audio {
  margin: 0;
}

article.card div.card-audio audio {
  display: block;
  width: 100%;
  max-height: 480px;
  top: auto;
  left: auto;
  margin: 0 auto;
  transition: all 0s linear;
}

/************************************************************************/
/****** Setting for seekbar area                                   ******/
/************************************************************************/
div#audiobar {
	position: relative;
	margin: 0;
	width: 100%;
	height: 40px;
  margin-top: 10px;
}
div#audiobar #audioseek,
div#audiobar #audioload {
	position: absolute;
  width: 100%;
  height: 40px;
	padding: 0px;
	margin: 0px;
  text-decoration: none;
  border: 0px;
  color: rgba(255,255,255,1);
}
div#audiobar #audioseek {
  transition: background-size 0.1s linear;
  z-index: 1;
}
div#audiobar #audioload {
  transition: background-size 0s linear;
  z-index: 0;
}
div#audiobar #audioseek {
	background: linear-gradient(rgba(200,200,200,.8),rgba(200,200,200,.8)) no-repeat rgba(255,255,255,0.8);
}
div#audiobar #audioload {
  background: linear-gradient(rgba(120,120,120,.9),rgba(120,120,120,.9)) no-repeat rgba(180,180,180,1);
}
div#audiobar.playing #audioseek {
  background: linear-gradient(rgba(182,0,5,1),rgba(182,0,5,1)) no-repeat rgba(255,255,255,0.8);
}
div#seekbar.playing #audioload {
  background: linear-gradient(rgba(182,0,5,1),rgba(182,0,5,1)) no-repeat rgba(180,180,180,1);
}
#playtime {
  display: block;
  margin-left: 1em;
  line-height: 40px;
  cursor: default;
}
#current, #total {
  display: inline-block;
  color: rgba(255,255,255,1);
}
@media (max-width: 767px) {
  div#audiobar {
    height: 30px;
    margin-top: 5px;
  }
  div#audiobar #audioseek,
  div#audiobar #audioload {
    height: 30px;
  }
  #playtime {
    line-height: 30px;
  }
}
/************************************************************************/
/****** Setting for controller area                                ******/
/************************************************************************/
div#audiocontroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  height: 60px;
  margin: 10px 0;
}
div#audioplay-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding-left: 10px;
}
div#audioplay,
div#audiopause {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
div#audiostop-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding-left: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  div#audiocontroller {
    height: 40px;
    margin: 5px 0;
  }
  div#audioplay-button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding-left: 5px;
  }
  div#audioplay,
  div#audiopause {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
  div#audiostop-button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding-left: 5px;
  }
}
svg#svg-play, svg#svg-stop, svg#svg-audio, svg#svg-note {
  fill: rgba(119,119,119,1);
}
svg#svg-pause {
  fill: rgba(182,0,5,1);
}
div#audioplay-button:hover svg#svg-play path, div#audiostop-button:hover path,
div#audioplay-button.ontap svg#svg-play path, div#audiostop-button.ontap path {
	fill: rgba(119,119,119,0.8);
}
div#audioplay-button:hover svg#svg-pause,
div#audioplay-button.ontap svg#svg-pause {
  fill: rgba(182,0,5,.8);
}
div.display {
	display: inline-block!important;
}
div.no-display {
	display: none!important;
}
div#audioplay-button.loading svg#svg-pause path {
  fill: rgba(60,60,60,.3)!important;
}
div#audioplay-button div#audioloading {
  display: none;
}
@keyframes loadspin {
  0% { transform: rotate(0deg);   opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  100%   { transform: rotate(360deg); opacity: 0.2; }
}
div#audiopla-button.loading div#audioloading {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 8px solid #fff;
  border-right-color: transparent;
  animation: loadspin 1s linear infinite;
}
/************************************************************************/
/****** Setting for title area                                     ******/
/************************************************************************/
div#audioplaying {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: calc(100% - 70px - 70px);
  height: 60px;
}
div#audioplayingicon {
  display: inline-block;
  position: relative;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border: 15px solid transparent;
}
div#audiotitle {
  display: inline-block;
  position: relative;
  color: rgba(119,119,119,1);
  line-height: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* playing display */
div#audioplaying.playing path {
  fill: rgba(182,0,5,1);
}
div#audioplaying.playing div#audiotitle {
  color: rgba(182,0,5,1);
}
@media (max-width: 767px) {
  div#audioplaying {
    max-width: calc(100% - 45px - 45px);
    height: 40px;
  }
  div#audioplayingicon {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-top: 10px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
/************************************************************************/
/****** Setting for audio list                                     ******/
/************************************************************************/
article.card div.card-list li a {
  display: block;
  width: calc(100% - 1em);
  margin: 0;
  padding: .8em 0 .8em 1em;
  background: #fafafa;
  text-decoration: none;
  color: #333;
}
article.card div.card-list li a span {
  display: inline-block;
  width: 1.5em;
}
article.card div.card-list li a i {
  display: none;
  width: 1em;
  padding-left: 0;
  padding-right: .5em;
  text-align: center;
}
article.card div.card-list li a div {
  display: flex;
  align-items: center;
}
article.card div.card-list li a div.count {
  /* display: inline-block; */
  display: none;
  margin-left: auto;
  padding-right: 1em;
  color: #ddd;
  font-size: .8em;
  font-family: 'Roboto', sans-serif;
}
article.card div.card-list li a:hover {
  color: #333;
  background: #f0f0f0;
}
article.card div.card-list li a:hover span {
  display: none;
}
article.card div.card-list li a:hover i {
  display: inline-block;
}
article.card div.card-list li.now a {
  color: rgba(182,0,5,1)!important;
}
article.card div.card-list li.now a span {
  display: none;
}
article.card div.card-list li.now a i {
  display: inline-block;
}
