/************************************************************************/
/****** Setting for nav adding                                     ******/
/************************************************************************/
@media (max-width: 767px) {
  nav div label span.icon {
    top: 120px;
  }
}

/************************************************************************/
/****** Setting for article                                        ******/
/************************************************************************/
article.card div.card-text div.flex {
    display: flex;
    flex-direction: row;
}

article.card div.card-text div.flex a.button {
    width: calc(50% - .5em - 2em);
    margin: 1em 0 0 0;
    padding: .5em 1em;
    margin-right: .5em;
    border-radius: 2px;
    background: #c0c0c0;
    color: #3f3f3f;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out .2s;
}
article.card div.card-text div.flex a.button:hover {
    background: rgba(182,0,5,1);
    color: #fff;
    transition: all ease-in-out 0s;
}
